.container {
  width: 100%;
  height: 25rem;
  z-index: 1;
  overflow: hidden;
}

.container img {
  object-fit: cover;
  height: 100vh;
  width: 100vw;
}

.summary {
  color: white;
  padding: 1rem;
  text-align: center;
  max-width: 45rem;
  width: 90%;
  margin: auto;
  margin-top: -10rem;
  position: relative;
  background-color: #383838;
}

.summary h2 {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.summary p {
  font-weight: bold;
}

.summary p:last-child {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}
