.form {
  margin-right: 2rem;
}

.form input {
  border-radius: 0.2rem;
  width: 2rem;
  border: 1px solid gray;
  height: 1.5rem;
  text-align: center;
  font-weight: bold;
}

.form label {
  font-weight: bold;
  margin-right: 1rem;
}

.form button {
  display: block;
  width: 7rem;
  margin-top: 11px;
  margin-bottom: 23px;
  transition: 0.4s all ease-in-out;
  cursor: pointer;
}

.form button:hover {
  transform: scale(1.1);
  background-color: #3f1200;
}
