@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
  height: 100vh;
  width: 100vw;
}

body {
  margin: 0;
  background-color: #3f3f3f;
  height: 100vh;
  width: 100vw;
}
